<div style="border: solid 1px; padding: 10px">
<b>{{title}}</b>
<hr>

<input name="searchText" [(ngModel)]="searchText">

<table>
	<thead>
		<tr style="padding-bottom: 5px">
			<td style="padding-right: 20px;"><b>NPI</b></td>
			<td style="padding-right: 20px;"><b>Name</b></td>
			<td style="padding-right: 20px;"><b>Address</b></td>
		</tr>
	</thead>
	<tbody>
		
		<tr *ngFor="let provider of providers | providerSearch:searchText" style="padding-top: 2px; padding-bottom: 2px" (click)="onSelectProvider(provider)" style="cursor: pointer;">
			
			<td style="padding-right: 20px;">{{provider.npi}}</td>
			<td style="padding-right: 20px;">{{provider.name}}</td>
			<td style="padding-right: 20px;">{{provider.address}}</td>
		
		</tr>
	</tbody>
</table>
</div>